/* everything */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    line-height: 150%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #5100B9;
    overflow-x: hidden
}

section {
    padding: 4em 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

p, .project .content a, .footer-text a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #5100B9;
}

/* nav and footer section */

nav, footer {
    display: flex;
    justify-content: space-between;
    padding: 2.5em;
    background-color: #7000FF;
}

nav .logo, footer .logo {
    color: #00F0FF;
    font-weight: bold;
    font-size: 1.25em;
}

nav ul, footer ul {
    display: flex;
}

nav ul a, footer ul a {
    display: block;
    padding: 0em 1em;
    color: #FFFFFF;
}

nav ul a::before, footer ul a::before {
    position: absolute;
    content: attr(data-content);
    color: #00F0FF;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 100%);
    transition: clip-path 0.5s ease;
}

nav ul a:hover::before, footer ul a:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer-text {
    text-align: center;
    margin-bottom: 1em;
}

.footer-text a {
    text-decoration: underline;
}

.footer-text a::before {
    text-decoration: underline;
    position: absolute;
    content: attr(data-content);
    color: #00F0FF;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    transition: clip-path 0.5s ease;
}

.footer-text a:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* hero section */

.hero {
    background-color: #5100B9;
    color: #FFFFFF;
    padding: 2em;
    height: 50%;
}

.hero p {
    margin: 2em 0em;
    color: #FFFFFF;
}

.hero img {
    display: none;
}

span.blue {
    color: #00F0FF;
}

/* about section */

.about h1 {
    margin: 1em 0em;
}

.about img[src="images/portrait.png"] {
    border-radius: 15px;
}

/* skills section */

.skills {
    background-color: #5100B9;
}

.skills h1 {
    margin-bottom: 1em;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    justify-content: center;
}

.skill {
    background-color: #FFFFFF;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skill img {
    height: 120px;
    margin: 1em 0;
}

.skill-level {
    background-color: #00F0FF;
    font-size: 0.8em;
    border-radius: 15px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0.25em 2em;
}

/* projects section */

.project h2, .project p {
    margin-top: 1.5em;
}

.project p {
    margin-bottom: 3em;
}

.project .content a:not(.intext-link) {
    margin: 1.5em 0em;
    background-color: #5100B9;
    border: none;
    color: #00F0FF;
    border-radius: 15px;
    padding: 0.1em 3em;
    font-size: 1.25em;
    transition: background-color 0.3s ease;
}

.project .content a:not(.intext-link):hover {
    background-color: #7000FF;
}

.project .content .intext-link {
    text-decoration: underline;
}

.project .content .intext-link::before {
    text-decoration: underline;
    position: absolute;
    content: attr(data-content);
    color: #00F0FF;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
    transition: clip-path 0.5s ease;
}

.project .content .intext-link:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.project .github {
    display: flex;
}

img[src='images/github.svg'] {
    width: 2.5em;
}

@media all and (min-width: 900px) {

    /* everything */

    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    p {
        font-size: 1.5em;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #D9D9D9;
    }

    /* nav and footer section */

    nav a, footer a {
        margin: 0rem 1.5rem;
    }

    nav ul a, footer ul a {
        font-size: 1.5em;
    }

    nav .logo, footer .logo {
        font-size: 1.75em;
    }

    .footer-text {
        margin-top: 10em;
    }

    /* hero section */

    .hero {
        height: 95vh;
        background-color: #FFFFFF;
        position: relative;
        z-index: -2;
    }

    .hero .content {
        margin-left: 3rem;
        margin-top: 2em;
        width: 70%;
    }

    .hero .rect {
        width: 76%;
        height: 100%;
        background-color: #5100B9;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .hero img {
        display: block;
        width: 37vw;
        position: absolute;
        right: 0;
        top: 8em;
    }

    .hero .circle {
        width: 34vw;
        height: 34vw;
        background-color: #D9D9D9;
        border-radius: 50%;
        position: absolute;
        top: 8em;
        right: 1em;
        z-index: -2;
    }

    /* about section */

    .about {
        display: grid;
        grid-template-columns: 68% 32%;
        position: relative;
    }

    .about .left {
        margin: 0 3rem;
    }

    .about .rect {
        background-color: #5100B9;
        width: 24%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    /* skills section */

    .skills {
        position: relative;
        z-index: 6;
    }
    
    .skills h1 {
        margin-left: 3rem;
    }

    .skills ul {
        margin: 0 3rem;
    }

    /* project section */

    .projects h1 {
        margin-left: 3rem;
    }
    
    .project {
        position: relative;
        display: grid;
        grid-template-columns: 55% 45%;
        margin-bottom: 25vw;
        z-index: 5;
    }

    .project .content {
        margin: 0em 3em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .project img {
        position: relative;
        z-index: 5;
    }
    
    .project.right {
        grid-template-columns: 45% 55%;
        text-align: end;
    }

    .project.right .content {
        align-items: flex-end;
    }

    .project.right .github {
        flex-direction: row-reverse;
    }

    .project.right > img {
        order: -1;
    }

    .project:first-of-type {
        margin-bottom: 30vw;
    }

    .project.project:first-of-type .rect-and-circle {
        top: 0em;
    }

    .project:last-of-type {
        margin-bottom: 0;
    }

    .project.maze, .project.mandelbrot {
        margin-bottom: 12vw;
    }

    .project.asteroids {
        margin-bottom: 20vw;
    }

    .project.ai-gearbox .content {
        /* For left-oriented */
        /* width: 60vw;
        z-index: 2;
        margin-top: 0; */
    }

    .project.pnyx > img, .project.ai-gearbox > img {
        position: relative;
        top: 30%;
    }
    
    .project.chess .content {
        position: relative;
        /* right: calc(60vw - 100% + 6rem); */
        width: 60vw;
        z-index: 2;
        margin-top: 0;
    }

    .project.chess > img {
        position: relative;
        top: 65%;
    }

    .project.maze .content {
        /* for left-oriented */
        order: 1;
    }

    .project.mandelbrot {
        grid-template-columns: 40% 60%;
    }

    .project.mandelbrot .content {
        order: 3;
    }

    .project.mandelbrot > img:nth-of-type(1) {
        order: 2;
        align-self: end;
        justify-self: center;
        margin-right: 1em;
        width: 64%;
    }

    .project.mandelbrot > img:nth-of-type(2) {
        order: 4;
        justify-self: end;
        width: 70%;
    }

    .project.mandelbrot > img:nth-of-type(3) {
        order: 5;
        width: 53%;
    }

    .project.mandelbrot .rect-and-circle {
        order: 6;
    }

    .project.mandelbrot img:nth-of-type(2), .project.mandelbrot img:nth-of-type(3) {
        position: relative;
        right: 6em;
    }

    .project.mandelbrot > img {
        bottom: 10em;
    }

    .rect-and-circle {
        width: 24vw;
        height: 56vw;
        position: absolute;
    }

    .rect-and-circle .rect {
        background-color: #5100B9;
        width: 100%;
        height: 100%;
    }

    .project.left .rect-and-circle {
        right: -2em;
        top: -5em;
    }

    .project.right .rect-and-circle {
        left: -2em;
        top: -5em;
    }

    .rect-and-circle .circle {
        content: '';
        display: block;
        width: 34vw;
        height: 34vw;
        background-color: #D9D9D9;
        border-radius: 50%;
        position: absolute;
        z-index: -5;
    }

    .project.left .rect-and-circle .circle {
        right: 8vw;
        top: -17vw;
    }

    .project.right .rect-and-circle .circle {
        left: 8vw;
        top: -17vw;
    }

}

@media all and (min-width: 1120px) {
    
    nav ul a, footer ul a {
        font-size: 2em;
    }

    nav .logo, footer .logo {
        font-size: 2.25em;
    }

}

@media all and (min-width: 1200px) {


    /* .project:nth-of-type(2) {
        margin-top: 30em;
    } */

}

@media all and (min-width: 1500px) {

    /* .project:nth-of-type(2) {
        margin-top: 40em;
    } */

    /* .project:nth-of-type(4) {
        margin-top: 25em;
    }

    .project:last-of-type {
        margin-bottom: 5vw;
    } */

}